############################
# Node.js
############################
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

############################
# Firebase
############################
.firebase/
firebase-debug.log
firestore-debug.log
ui-debug.log

# Firebase environment & secrets
.env
.env.local
.env.*.local

.vs
.vscode


serviceaccountkey.json

############################
# Build / Dist
############################
dist/
build/
out/
.tmp/
.cache/

############################
# VS Code
############################
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json

############################
# OS / System files
############################
.DS_Store
Thumbs.db
ehthumbs.db
desktop.ini

############################
# Logs
############################
logs/
*.log

############################
# Optional (if using functions)
############################
functions/node_modules/
functions/.env
