
body
{
  max-height:100%;
  max-width:100%;
  <!--background-repeat: no-repeat;-->
  background-size:cover;
  background: position 100%;
  background-image:url("1769611521438.png");
  /* background-color:rgb(103, 253, 3);
  background: linear-gradient(90deg,rgb(213, 224, 206) 14%, rgb(46, 102, 97) 90%);
  align-items: center; */

}
.container
 {
    
     align-items: center;
     background-color:transparent 100%;background-color: rgb(71, 69, 69);
      /* background: linear-gradient(144deg,rgb(0, 248, 194) 49%, rgb(103, 253, 3) 10%); */
     max-width: 300px;
     max-height:500px ;
     margin: auto;
     margin-top: 200px;
     padding: 100px;
    box-shadow: 10px 5px 5px rgb(236, 0, 0);
    backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-radius: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 
    0 8px 32px rgba(0, 0, 0, 0.1),
    inset 0 1px 0 rgba(255, 255, 255, 0.5),
    inset 0 -1px 0 rgba(255, 255, 255, 0.1),
    inset 0 0 30px 15px rgba(255, 255, 255, 1.5);
  position: relative;
  overflow: hidden;
}

.glass-card::before {
  content: ' ';
  position: absolute;
  top: 50px;
  left: 50px;
  right:10px;
  height: 1px;
  background: linear-gradient(
    90deg,
    transparent,
    rgba(219, 200, 200, 0.8),
    transparent
  );
}

.glass-card::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 1px;
  height: 100%;
  background: linear-gradient(
    180deg,
    rgb(255, 255, 255),
    transparent,
    rgba(255, 255, 255, 0.3)
  );
}
label {
         margin-top: 12px;;
}

.token
 {
   max-height:10px;
   padding :25px ;

 }
 #generate_token 
 {
   background-color: rgba(13, 198, 223, 0.801);
   height:25px; 
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   font-size: 15px;
   color: aliceblue;
  
 }
 #head
 {
   color: rgb(255, 255, 255);
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

 }
 .box
 {
    color: aliceblue;
 }

#booking
{
  background-color:cyan; 
  margin:10px;
} 
.box
{
  background-color: cyan;
  color: rgb(255, 255, 255);}

.token
{
  align-self: center;
}
