*{
    margin:0;
    padding:0;
    box-sizing:boeder-box;
}
.navbar{
    display:flex;
    justify-content:space-between;
    background-color:#333;
    padding:1rem 2rem;
    color:white;
    position:sticky;
    top:0;
}
.nav-links{
    display:flex;
    list-style:none;
}
.nav-links li{
    margin-left:20px;
}
.nav-links a{
 text-decoration:none;
 color:white;
 font-weight:bold;
 transition:color 0.3s;
}
.nav-link a:hover{
    color:#ff9900;
}

.home{background-color: rgb(140, 255, 105);
            max-width:100%;
            max-height: fit-content;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;   
             
        }