*{
    
    margin:0;
    padding:0;
    box-sizing:boeder-box;
}
body{
    background-color:black;
}
.navbar{
    display:flex;
    justify-content:space-between;
    background-color:#333;
    padding:1rem 2rem;
    color:white;
    position:sticky;
    top:0;
}
.nav-links{
    display:flex;
    list-style:none;
}
.nav-links li{
    margin-left:20px;
}
.nav-links a{
 text-decoration:none;
 color:white;
 font-weight:bold;
 transition:color 0.3s;
}
.nav-link a:hover{
    color:#ff9900;
}
body
{
   
   background-position: center;
   background-size: cover;
   background-image:url("1769611521438.png"); 
   /* background-color:rgb(103, 253, 3);
   background: linear-gradient(90deg,rgb(213, 224, 206) 14%, rgb(46, 102, 97) 90%); */
   align-items: center;

}
#para 
{
     
    align-items: center;
    font-size: large;
    text-align: center;
    color: rgb(255, 0, 0);
     /* background-color:rgb(103, 253, 3); */
     background-color:transparent;
      /* background: linear-gradient(144deg,rgb(0, 248, 194) 49%, rgb(103, 253, 3) 10%);*/
     max-width: 20%; 
     max-height:60%;
     margin: auto;
     margin-top: 200px;
     padding: 100px;
    box-shadow: 10px 5px 5px rgb(255, 255, 255);
    backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-radius: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 
    0 8px 32px rgba(0, 0, 0, 0.1),
    inset 0 1px 0 rgba(255, 255, 255, 0.5),
    inset 0 -1px 0 rgba(255, 255, 255, 0.1),
    inset 0 0 30px 15px rgba(255, 255, 255, 1.5);
  position: relative;
  overflow: hidden;
}
#qrcode
{
    
    margin:0 auto;
    display:flex;
    justify-content: center;
    align-items:center;
    margin-bottom: 20px;
}
#downloadbutton{
  align-items: center;
}
.qrcode {
  
  display: flex;
   align-items:center;
  }
